.footer {
    background-color: #e6ebff;
    min-block-size: 200px;
    padding: 2.5rem 0 2rem;
}

.footer__container {
    row-gap: 3rem;
}

.footer__logo {
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    display: inline-block;
    margin-bottom: .75rem;
}

.footer__links {
    display: grid;
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem 1rem;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__content>div {
    box-sizing: border-box;
    flex: 1 1 180px;
    max-width: 260px;
}

.footer__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}

.footer__links {
    row-gap: .5rem;
}

.footer__link,
.footer__information {
    font-size: var(--small-font-size);
}

.footer__information {
    color: var(--text-color);
    word-wrap: break-word;
    line-height: 1.6;
}

.footer__link {
    color: var(--text-color);
    transition: 0.3s;
}

.footer__link:hover {
    text-decoration: underline;
    color: var(--title-color);
}

.footer__social {
    display: flex;
    column-gap: .5rem;
}

.footer__social-link {
    display: inline-flex;
    color: var(--title-color);
    padding: .4rem;
    background-color: var(--container-color);
    font-size: 1.25rem;
    border-radius: .5rem;
    transition: background-color 0.3s;
}

.footer__social-link:hover {
    background-color: var(--bg-color-light);
}

.footer__info {
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-top: 1px solid rgba(0, 0, 0, .08);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .75rem;
}

.footer__copy,
.footer__privacy {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

@media (max-width: 576px) {
    .footer__content>div {
        flex: 1 1 100%;
        max-width: none;
    }

    .footer__info {
        row-gap: .5rem;
    }
}

@media screen and (min-width:1024px) {
    .footer__link {
        font-size: var(--normal-font-size);
    }
}